/* line 6, ../sass/style-guild.scss */
.container {
  max-width: 80rem;
  margin: 0 auto; }

/* line 11, ../sass/style-guild.scss */
.row {
  width: 100%;
  margin: 0 auto;
  display: inline-block; }
  /* line 15, ../sass/style-guild.scss */
  .row:after {
    content: " ";
    display: table; }

/* line 21, ../sass/style-guild.scss */
.col {
  width: 50%;
  position: relative;
  padding-left: 0.83333rem;
  padding-right: 0.83333rem; }

/* line 28, ../sass/style-guild.scss */
.col_left {
  float: left; }

/* line 32, ../sass/style-guild.scss */
.col_right {
  float: right; }

/* line 37, ../sass/style-guild.scss */
.sg-heading {
  color: #222;
  font-size: 1.3em; }
